section.hero
  .row-fluid
    .container
      h1 
        | Make the most out of your idea.
        br
        | We'll make sure it counts.
      
section.service     
  .row-fluid
    .container
      p 
      | We are Ruby on Rails web development team based in Kuala Lumpur.
      | We are also listed as Shopify Expert, which we build custom apps and design.
      br
      em Some of our tech stack we use:
      ul
        li Rails
        li Shopify
        li WordPress

